<article class="article">
  <div class="row">
    <div class="col">
      <h3><a href="/posts/{{postId}}">{{{title}}}</a></h3>
      <img alt="Article Thumbnail" class="img-fluid" src="{{image thumbnail}}">
      <h6>by {{author}}</h6>
      {{{blurb content}}}
    </div>
  </div>
</article>
<hr />
