<form action="/posts" method="POST" enctype="multipart/form-data">
  <label for="category">Category:</label>
  <input type="text" name="category" value="{{post.category}}" pattern="Politics|Local|Arts & Culture|Current Events|Comics|Videos" id="categ" /><br />
  <label for="title">Title:</label>
  <input type="text" name="title" value="{{post.title}}" id="title" /><br />
  <label for="author">Author:</label>
  <input type="text" name="author" value="{{post.author}}" /><br />
  <label for="published_on">Published on:</label>
  <input type="text" name="published_on" value="{{post.published_on}}" /><br />
  <label>Issue number:</label>
  <input type="text" name="issue" value="{{post.issue}}" /><br />
  <label for="content">Content:</label><br />
  <textarea name="content" cols="80" rows="12">{{{post.content}}}</textarea><br />
  <input type="file" name="thumbnail" /><br />
  <input type="text" name="thumbnail_credit" value="{{post.thumbnail_credit}}" /><br />
  <label for="staging">In staging:</label>
  <input type="checkbox" name="staging" value="staging" {{checkedIf post.staging}}/><br />
  <input type="hidden" name="postId" value="{{post.postId}}" id="postId" />
  <input type="hidden" name="_method" value="{{method}}" />

  <input type="submit" value="Submit" class="btn btn-outline-secondary" />
</form>
<script>
  var cat = document.getElementById('categ');

  cat.addEventListener('input', (event) => {
    if (cat.validity.patternMismatch) {
      cat.setCustomValidity('Please enter a valid category');
    } else {
      cat.setCustomValidity('');
    }
  });
</script>
