<article class="article">
  <div class="row">
    <div class="col">
      <h3><a href="/quizzes/{{quizId}}">{{title}}</a></h3>
      <img alt="Quiz Thumbnail" class="img-fluid" src="{{image thumbnail}}">
      <h6>by {{author}}</h6>
      {{{blur}}}
    </div>
  </div>
</article>
<hr />
