{{> header}}
<h1>New</h1>
<form id="app"
      @submit.prevent="checkForm">
  <p v-if="errors.length">
    Please correct the following error(s):
    <ul>
      <li v-for="error in errors">\{{ error }}</li>
    </ul>
  </p>

  <p>
    <label for="issueId">Issue</label>
    <input id="issueId"
           v-model="issueId"
           type="text"
           name="issueId" />
  </p>

  <p>
    <label for="link">Issue File</label>
    <input id="link"
           v-model="link"
           @change="fileChange"
           type="file"
           name="link" />
  </p>

  <p>
    <input type="submit"
           value="Submit" />
  </p>
</form>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.739.0.min.js"></script>
<script>
  AWS.config.region = "us-east-1";
  AWS.config.credentials = new AWS.CognitoIdentityCredentials({
    IdentityPoolId: "{{{identityPool}}}",
    Logins: {
      "{{{issuerURL}}}": "{{{authToken}}}"
    }
  });

  var app = new Vue({
      el: '#app',
      data: {
        errors: [],
        issueId: null,
        link: null,
        token: "{{{authToken}}}",
      },
      methods:{
        checkForm: function (e) {
          if (this.issueId && this.link) {
              const body = JSON.stringify({
                  issueId: this.issueId,
                  link: this.link,
              });

              const headers = new Headers();
              headers.append("Authorization", "Bearer " + this.token);
              headers.append("Content-Type", "application/json");
              fetch("/issues", {
                method: "POST",
                headers,
                body,
              }).then(response => {
                  return response.json();
              }).then(result => {
                  if (result.redirect) {
                    // Redirect to local url
                    window.location.pathname = result.url;
                  } else {
                    console.error(result.error);
                    throw result.error.message;
                  }
              }).catch(error => {
                this.errors = [];
                this.errors.push(error);
              });
          }

          this.errors = [];
          if (!this.issueId) {
            this.errors.push('Issue number required.');
          }
          if (!this.link) {
            this.errors.push('Issue file required.');
          }

          e.preventDefault();
        },
        fileChange: function(event) {
          const file = event.target.files[0];
          const upload = new AWS.S3.ManagedUpload({
            params: {
              Bucket: "{{{s3bucket}}}",
              Key: `${Date.now()}-issue.pdf`,
              Body: file,
              ACL: 'public-read',
            }
          }).promise();
          upload.then(data => {
            this.link = data.Location;
          }).catch(error => {
            console.error(error);
            this.errors.push('File failed to upload');
          });
        },
      }
  })
</script>
<a href="/issues">Back</a>
{{> footer}}
